{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ book.title }}</h1>
        <p>Author: {{ book.author }}</p>
        <img src="{{ book.img }}" alt="Book cover" width="300">
        <p>ISBN: {{ book.isbn }}</p>
        <a href="{{ path('libary_update_one_form', {id: book.id}) }}">Update book</a>
        <a href="{{ path('libary_delete_one', {id: book.id}) }}">Delete book</a>
    </div>

{% endblock %}
